{% extends 'base.html' %}
{% block bodycontent %}
<div class="container">
<div class="jumbotron">
<form action="{{url_for('join')}}" method="post">
  <div class="form-group">
	<label>Username:</label>
	<input type="text" name="user_name"/>
  </div>
  <div class="form-group">
	<label>Room Name:</label>
	<input type="text" name="private_room_name"/>
	<input type="submit" value="Join" name="private_join"/>
  </div>
  <div class="form-group">
	<label>Public:</label>
	<select name="public_room_name">
		<option></option>
		{% for item in public_rooms %}
		<option>{{item}}</option>
		{% endfor %}
	</select>
	<input type="submit" value="Join" name="public_join"/>
  </div>
</form>
</div>
</div>
{% endblock %}
