{% extends 'base.html' %}
{% block headaddons %}
{% endblock %}
{% block bodycontent %}
<div class="container">
<div class="jumbotron">
  <h1>TeddyPoCards</h1>
  <h4>Play card-like games online. No downloads, no accounts, just fun</h4>
  <p>Currently the included games are:</p>
  <ul class="list-group">
    <li class="list-group-item">Spanish Flu - a clone of Coup, the super fun card game about bluffing</li>
  </ul>
  <p></p>
  <p>Follow teddypo on social media for updates when we add new games</p>
  <p></p>
  <p>Click below to start or join a game</p>
</div>
<div class="jumbotron">
	<a href="{{url_for('join_page')}}" class="btn btn-light btn-block">Join Game</a>
	<a href="{{url_for('create_page')}}" class="btn btn-light btn-block">Create Game</a>
</div>
</div>
{% endblock %}
