{% extends 'base.html' %}
{% block headaddons %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
{% endblock %}
{% block bodycontent %}
<div class="container">
<div class="jumbotron">
	<div class="row">
	<div class="col-md-8 call-sm-12">
	<table class="table">
		<thead>
			<th scope="col">user_name</th>
			<th scope="col">Coins</th>
			<th scope="col">Card 1</th>
			<th scope="col">Card 2</th>
		</thead>
		<tbody>
			{% for player in players %}
			{% if loop.index0 == turn %}
            <tr class="table-primary" id="user_row{{loop.index0}}">
			{% elif player.user_name == user_name %}
            <tr class="table-success" id="user_row{{loop.index0}}">
			{% else %}
            <tr id="user_row{{loop.index0}}">
			{% endif %}
				<td scope="col">{{player.user_name}}</td>
                <td scope="col" id="coins{{loop.index0}}">{{player.coins}}</td>
				{% for i in range(2) %}
				{% if player.cards|length < (i+1) %}
                <td scope="col" id="card_{{player.user_name}}_{{loop.index0}}"></td>
				{% else%}
                <td scope="col" id="card_{{player.user_name}}_{{loop.index0}}">{{player.cards[i]}}</td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	<div class="col-md-4">
	  <ul class="list-group">
		<li class="list-group-item" id="grave_yard_lab">GraveYard</li>
        <div id="grave_yard_children">
		{% for card in grave_yard %}
		<li class="list-group-item">{{card}}</li>
		{% endfor %}
        </div>
	  </ul>
	  <ul class="list-group">
          <li class="list-group-item">Deck: <span id="deck_sz_lab">{{deck_size}}</span> cards</li>
	  </ul>
	  <ul class="list-group">
		<li class="list-group-item" id="wait_for_lab">Waiting For</li>
        <div id="wait_for_children">
		{% for item  in waiting_for %}
        <li class="list-group-item">{{item.user_name}} {{item.kind}}</li>
		{% endfor %}
        </div>
	  </ul>
	</div>
	</div>
{% if not dict(user_name=user_name, kind='turn') in waiting_for %}
{% set dis_str = "disabled" %}
{% else %}
{% set dis_str = "" %}
{% endif %}
<button type="button" class="btn btn-dark turn_button" data-action="income" {{dis_str}}>Income</button>
<button type="button" class="btn btn-dark turn_button" data-action="foreign_aid" {{dis_str}}>Foreign Aid</button>
<button type="button" class="btn btn-dark turn_button" data-action="tax" {{dis_str}}>Tax</button>
<div class="dropdown button-row">
  <button type="button" class="btn btn-dark dropdown-toggle turn_button" type="button" id="stealDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-action="" {{dis_str}}>Steal</button>
  <div class="dropdown-menu" aria-labelledby="stealDrop">
	  {% for player in players %}
      <a class="dropdown-item turn_button" href="#" data-action="steal{{player.user_name}}">{{player.user_name}}</a>
	  {% endfor %}
  </div>
</div>
<div class="dropdown button-row">
  <button type="button" class="btn btn-dark dropdown-toggle turn_button" type="button" id="assassinateDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-action="" {{dis_str}}>Assassinate</button>
  <div class="dropdown-menu" aria-labelledby="assassinateDrop">
	  {% for player in players %}
      <a class="dropdown-item turn_button" href="#" data-action="assassinate{{player.user_name}}">{{player.user_name}}</a>
	  {% endfor %}
  </div>
</div>
<button type="button" class="btn btn-dark turn_button" data-action="exchange" {{dis_str}}>Exchange</button>
<div class="dropdown button-row">
  <button type="button" class="btn btn-dark dropdown-toggle turn_button" type="button" id="infectDrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-action="" {{dis_str}}>Infect</button>
  <div class="dropdown-menu" aria-labelledby="infectDrop">
	  {% for player in players %}
      <a class="dropdown-item turn_button" href="#" data-action="infect{{player.user_name}}">{{player.user_name}}</a>
	  {% endfor %}
  </div>
</div>

<nav class="navbar navbar-light bg-light">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expandedHistory" aria-controls="expandedHistory" aria-expanded="false"aria-label="Toggle longer history">
		<span class="navbar-toggler-icon"></span>
	</button>
    {% set act = activity_log[activity_log|length - 1] %}
    <a class="navbar-brand" href="#" id="latest_activity">{{act.user_name }} {{ act.action }} </a>
	<form class="form-inline">
		<button class="btn btn-outline-success aux_button" type="button" id="allow_button" data-action="allow">Allow</button>
		<button class="btn btn-outline-danger aux_button" type="button" id="challenge_button" data-action="challenge">Challenge</button>
		<button class="btn btn-outline-dark aux_button" type="button" id="block_button" data-action="block">Block</button>
	</form>
</nav>
<div class="collapse" id="expandedHistory">
  <ul class="list-group" id="act_list">
    {% for item in activity_log|reverse %}
    {% if loop.index0 != 0 %}
    <li class="list-group-item">{{item.user_name}} {{ item.action}}</li>
    {% endif %}
    {% endfor %}
  </ul>
</div>


</div>
<div class="modal fade" id="discardCardModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_header_text" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_header_text"></h5>
      </div>
      <div class="modal-body">
        <p id="modal_body_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger d-none aux_button" data-dismiss="modal" id="modal_challenge" data-action="challenge">Challenge</button>
        <button type="button" class="btn btn-dark d-none aux_button" data-dismiss="modal" id="modal_block" data-action="block">Block</button>
        <button type="button" class="btn btn-success d-none aux_button" data-dismiss="modal" id="modal_discard0" data-action="discard0" data-index="0">DiscardCard1</button>
        <button type="button" class="btn btn-success d-none aux_button" data-dismiss="modal" id="modal_discard1" data-action="discard1" data-index="1">DiscardCard2</button>
        <button type="button" class="btn btn-success d-none aux_button" data-dismiss="modal" id="modal_discard2" data-action="discard2" data-index="2">DiscardCard3</button>
        <button type="button" class="btn btn-success d-none aux_button" data-dismiss="modal" id="modal_discard3" data-action="discard3" data-index="3">DiscardCard4</button>
        <button type="button" class="btn btn-success d-none aux_button" data-dismiss="modal" id="modal_reveal0" data-action="reveal0" data-index="3">RevealCard1</button>
        <button type="button" class="btn btn-success d-none aux_button" data-dismiss="modal" id="modal_reveal1" data-action="reveal1" data-index="3">RevealCard2</button>
      </div>
    </div>
  </div>
</div>
{% if user_name == game_master %}
<button id="reset_game_button">Reset Game</button>
{% endif %}
</div>
{% endblock %}
