{% extends 'base.html' %}
{% block headaddons %}
	<script>
		$(document).ready(function(){
			setTimeout(function(){
				location.reload();
			}, 5000);
		})
	</script>
{% endblock %}
{% block bodycontent %}
	<h1>user_name: {{user_name}} </h1>
	{% for player in players %}
	<h2>{{player.user_name}}'s cards</h2>
	<ul>
		{% for card in player.cards %}
		<li>
			{% if user_name == player.user_name %}
			<p>
				{{card.name}}
				{% if not card.hidden %}
				<b>Revealed!</b>
				{% endif %}
			<a href={{url_for("hello")}}action/{{user_name}}/reveal_{{card.id}}>Reveal</a>
			<a href={{url_for("hello")}}action/{{user_name}}/hide_{{card.id}}>Hide</a>
			<a href={{url_for("hello")}}action/{{user_name}}/grave_{{card.id}}>Grave</a>
			<a href={{url_for("hello")}}action/{{user_name}}/deck_{{card.id}}>Deck</a>
			</p>
			{% else %}
			{% if card.hidden %}
			<p>Hidden</p>
			{% else %}
			<p>{{card.name}}</p>
			{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<h2>
		{{player.user_name}}'s Coins: {{player.n_coins}}
		<a href={{url_for("hello")}}action/{{user_name}}/increase_{{player.user_name}}>+</a>
		<a href={{url_for("hello")}}action/{{user_name}}/decrease_{{player.user_name}}>-</a>
	</h2>
	{% endfor %}
	<h1>The Grave Yard</h1>
	<ul>
		{% for card in graveyard %}
		<li><p>{{card.name}}</p></li>
		{% endfor %}
	</ul>
	<h1>The Deck</h1>
	<h2>Number Of Cards {{deck_size}}</h2>
	<a href={{url_for("hello")}}action/{{user_name}}/claim>ClaimCard</a>
	<h1>ActivityLog</h1>
	<ul>
		{% for activity in activity_log|reverse%}
		<li>{{activity}} </li>
		{% endfor %}
	</ul>
	<a href={{url_for("hello")}}action/{{user_name}}/reset_0>Reset 0 Player Game</a>
	<a href={{url_for("hello")}}action/{{user_name}}/reset_1>Reset 1 Player Game</a>
	<a href={{url_for("hello")}}action/{{user_name}}/reset_2>Reset 2 Player Game</a>
	<a href={{url_for("hello")}}action/{{user_name}}/reset_3>Reset 3 Player Game</a>
	<a href={{url_for("hello")}}action/{{user_name}}/reset_4>Reset 4 Player Game</a>
	<a href={{url_for("hello")}}action/{{user_name}}/reset_5>Reset 5 Player Game</a>
	<a href={{url_for("hello")}}action/{{user_name}}/reset_6>Reset 6 Player Game</a>
	<h1></h1>
	<a href={{url_for("join", user_name=user_name)}}>Rejoin</a>
{% endblock %}
