{% extends 'base.html' %}
{% block headaddons %}
	<script>
		$(document).ready(function(){
			setTimeout(function(){
				location.reload();
			}, 5000);
		})
	</script>
{% endblock %}
{% block bodycontent %}
	<h1>user_name: {{user_name}} </h1>
	{% for player in players %}
	<h2>{{player.user_name}}'s cards</h2>
	<ul>
		{% for card in player.cards %}
		<li>
			{% if user_name == player.user_name %}
			<p>
				{{card.name}}
				{% if not card.hidden %}
				<b>Revealed!</b>
				{% endif %}
			<a href={{url_for("action", user_name=user_name, action_string="reveal_"+card.id|string, room_name=room_name)}}>Reveal</a>
			<a href={{url_for("action", user_name=user_name, action_string="hide_"+card.id|string, room_name=room_name)}}>Hide</a>
			<a href={{url_for("action", user_name=user_name, action_string="grave_"+card.id|string, room_name=room_name)}}>Grave</a>
			<a href={{url_for("action", user_name=user_name, action_string="deck_"+card.id|string, room_name=room_name)}}>Deck</a>
			</p>
			{% else %}
			{% if card.hidden %}
			<p>Hidden</p>
			{% else %}
			<p>{{card.name}}</p>
			{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<h2>
		{{player.user_name}}'s Coins: {{player.n_coins}}
		<a href={{url_for("action", user_name=user_name, action_string="increase_"+player.user_name, room_name=room_name)}}>+</a>
		<a href={{url_for("action", user_name=user_name, action_string="decrease_"+player.user_name, room_name=room_name)}}>-</a>
	</h2>
	{% endfor %}
	<h1>The Grave Yard</h1>
	<ul>
		{% for card in graveyard %}
		<li><p>{{card.name}}</p></li>
		{% endfor %}
	</ul>
	<h1>The Deck</h1>
	<h2>Number Of Cards {{deck_size}}</h2>
	<a href={{url_for("action", user_name=user_name, action_string="claim", room_name=room_name)}}>ClaimCard</a>
	<h1>ActivityLog</h1>
	<ul>
		{% for activity in activity_log|reverse%}
		<li>{{activity}} </li>
		{% endfor %}
	</ul>
	<a href={{url_for("action", user_name=user_name, action_string="reset_0", room_name=room_name)}}>Reset Game</a>
	<h1></h1>
	<a href={{url_for("join", user_name=user_name, room_name=room_name)}}>Rejoin</a>
{% endblock %}
